<h1><%= t('profile.user') %></h1>
<p><%= t('profile.email') %> : <%= @user.email %></p>
<p><%= t('profile.zip_code') %> : <%= @user.zip_code %></p>
<p><%= t('profile.address') %> : <%= @user.address %></p>
<p><%= t('profile.profile') %> : <%= @user.profile %></p>
<% if @user.avatar.attached? %>
  <p><%= image_tag @user.avatar.variant(resize: "100x100") %>
<% end %>
</br>
<%= link_to t('button.update'), edit_user_registration_path, class: 'navbar-link' %> 
<%= link_to t('button.back'), books_path %>
